<!-- tarjeta de parqueadero esqueleto -->
<div class="parqueadero-item">
    <div class="header">
        <div class="info">
            <h3>{{ parqueadero.nombre }}</h3>
            <p>{{ parqueadero.ubicacion }}</p>
            <p>Capacidad total: {{ parqueadero.capacidadTotal }}</p>
        </div>
        <!-- Espacio para icono decorativo -->
        <div class="icon-header"></div>
    </div>
    
    <div class="ocupacion">
        <h4>Ocupación Actual</h4>

        <div class="tipos">
            <div class="tipo">
                <!-- icono carro -->
                <div class="icon"></div>
                <span>C:</span>
            </div>
            <div class="tipo">
                <!-- icono moto -->
                <div class="icon"></div>
                <span>M: </span>
            </div>
            <div class="tipo">
                <!-- icono bicicleta -->
                <div class="icon"></div>
                <span>B:</span>
            </div>
        </div>
    </div>
    
    <!-- Acciones -->
    <div class="botones">
        <button (click)="verDetalle()">Ver Detalles</button>
        <button (click)="modificarTarifa()">Modificar Tarifas</button>
      </div>

</div>
