<!-- tarjeta de parqueadero esqueleto -->
<div class="parqueadero-item">
    <div class="header">
        <div class="info">
            <h3>{{ parqueadero.nombre }}</h3>
            <p>{{ parqueadero.direccion }}</p>
            <p>Ingresos hoy: {{ parqueadero.ingresosHoy }}</p>
        </div>
        <!-- Espacio para icono decorativo -->
        <div class="icon-header"></div>
    </div>
    
    <div class="ocupacion">
        <h4>Ocupación Actual</h4>

        <div class="tipos">
            <div class="tipo">
                <!-- icono carro -->
                <div class="icon"></div>
                <span>C: {{ parqueadero.ocupadasCarros }}</span>
            </div>
            <div class="tipo">
                <!-- icono moto -->
                <div class="icon"></div>
                <span>M: {{ parqueadero.ocupadasMotos }}</span>
            </div>
            <div class="tipo">
                <!-- icono bicicleta -->
                <div class="icon"></div>
                <span>B: {{ parqueadero.ocupadasBicicletas }}</span>
            </div>
        </div>
    </div>
    
    <!-- Acciones -->
    <div class="acciones">
        <button>DETALLES</button>
        <button>OPERADORES</button>
    </div>

</div>
